/*.btn-grp{
        align-items: center;
        width: 100%;
}
.btn-grp a{
        width:23%;
	background-color: #EB984E ;
  border: 1px solid green; 
  color: blue; 
  padding: 20px 10px; 
  cursor: pointer; 
  float: left; 
  text-align: center;
  text-decoration: none;
}*/
.btn-grp{
        width:100%;
        align-items: center;
        margin-left: 2px;
}
.btn-grp a{
width: 23.5%;
background-color: palegreen;
padding:20px 10px;
cursor: pointer; 
  float: left; 
  text-align: center;
  text-decoration: none;
  border: 1px solid green;
}
.btn-grp a:hover{
        background-color: limegreen;
}

